.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
}

.chat:hover {
  opacity: 0.8;
  cursor: pointer;
}

.chat__info {
  padding-left: 5px;
  flex: 1;
}

.chat__avatar {
  height: 35px !important;
  width: 35px !important;
}

.chat__readIcon {
  color: rgb(170, 37, 27);
}

.chat__info > h4 {
  font-size: 11px;
  font-weight: 500;
}
.chat__info > p {
  font-size: 10px;
  font-weight: 500;
}

.chat__takePicIcon {
  position: absolute;
  color: rgb(136, 136, 136);
  border-radius: 200px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px !important;
  cursor: pointer;
}

.chat__takePicIcon:hover {
  opacity: 0.7;
  box-shadow: 0 0 19px rgb(107, 107, 107);
}
